<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Development</key>
	<dict>
		<key>PTSApiKey</key>
		<string>093170ddfbf3ee44f5ae0973b1f45cc3</string>
		<key>PTSApiBaseUrl</key>
		<string>http://localhost:5000/api/v2/</string>
	</dict>
	<key>Debug</key>
	<dict>
		<key>PTSApiKey</key>
		<string></string>
		<key>PTSApiBaseUrl</key>
		<string>https://www.phishtrackstats.com/api/</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>PTSApiKey</key>
		<string></string>
		<key>PTSApiBaseUrl</key>
		<string>https://www.phishtrackstats.com/api/</string>
	</dict>
</dict>
</plist>
